@model mvcGCards.Models.UserCardModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Remove";
}

<h1>Remove</h1>

<h3>Are you sure you want to remove some this?</h3>
<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Card.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Card.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Card.DateOfAdd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Card.DateOfAdd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Card.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Card.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Card.Rank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Card.Rank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Card.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Card.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Card.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw("<img style='width:75px; height:100px;' src=\"data:image/jpeg;base64,"
                     + Convert.ToBase64String(@Model.Card.Image) + "\" />")
        </dd>
    </dl>

    <form asp-action="Remove">
        <input type="hidden" asp-for="UserName" />
        <input type="hidden" asp-for="CardId" value=@Model.Card.Id/>
        
        <p> Count of card @Model.Count </p>
        <div class="form-group">
            <label asp-for="Count" class="control-label"></label>
            <input asp-for="Count" class="form-control" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-userName="@UserManager.GetUserName(User)">Back to List</a>
    </form>
</div>
